<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">SKILLS</h5>
          <p class="category">Handcrafted by our friends from
            <a href="https://nucleoapp.com/?ref=1712">NucleoApp</a>
          </p>


          <form [formGroup]= "userForm">


            <div class="form-group">
              <label for="username" class="sr-only">Email</label>
              <input type="username" name="username"   class="form-control" bs-tooltip-placement="right"
                 formControlName="username">
            
          
            </div>
            <div class="form-group mb-4">
              <label for="password" class="sr-only">Password</label>
              <input type="password" name="password" id="password" class="form-control"  name="password"  formControlName="password" placeholder="***********">
            </div>
            <input name="login"  (click) = "loginUser()" id="login" class="btn btn-block login-btn mb-4" type="button" value="Login">
          </form>



        </div>
        <div class="card-body all-icons">
          <div class="row">
            
            
            
            
            
           
         
           
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
