<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="hero-section section ">

    <div class="hero-slider hero-slider-one">
        <div class="hero-slide-item d-flex align-items-center image-bg"  style="background-image: url(../../assets/dd.png); min-height: calc(100vh - 139.6px); font-size: 100%; ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        
                        <div class="hero-content text-left">
                            <h5></h5>
                            <h1>Evaluate tech skills Platform</h1>
                
                            <a routerLink="about" class="btn">Learn More</a>  &nbsp;
                          

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
        </div>
    </div> 

    <main class="page-content">
        <!-- Start Service Style-->
        <div class="section-service">
            <div class="container-fluid plr_-0">
                <div class="row no-gutters row-0">
    
                    <!-- Start Single Service -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="row-service-wrap">
                            <div class="service text-left service-6 medical-service">
                                <div class="icons">
                                    <img src="../../assets/bb.png" alt="service icons">
                                </div>
                                <div class="content">
                                    <h4>Courses Java</h4>  
                                    <p>Lorem ipsum dolor sit amet conse adipisic elit, sed do eiusmod temp incididunt ut</p>  
                                </div>
                            </div>
                        </div>
                    </div>
                     <!-- End Single Service -->
    
                    <!-- Start Single Service -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="row-service-wrap">
                        <div class="service text-left service-6 medical-service service-bg-2">
                            <div class="icons">
                                <img src="../../assets/aa.png" alt="service icons">
                            </div>
                            <div class="content">
                                <h4>Courses C#</h4>
                                <p>Lorem ipsum dolor sit amet conse adipisic elit, sed do eiusmod temp incididunt ut</p>
                            </div>
                        </div>
                        </div>
                    </div>
                     <!-- End Single Service -->
    
                    <!-- Start Single Service -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                       <div class="row-service-wrap">
                        <div class="service text-left service-6 medical-service">
                            <div class="icons">
                                <img src="../../assets/bb.png" alt="service icons">
                            </div>
                            <div class="content">
                                <h4>Motivated Guards</h4>
                                <p>Lorem ipsum dolor sit amet conse adipisic elit, sed do eiusmod temp incididunt ut</p>
                            </div>
                        </div>
                        </div>
                    </div>
                     <!-- End Single Service -->
    
                    <!-- Start Single Service -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                       <div class="row-service-wrap">
                        <div class="service text-left service-6 medical-service service-bg-2">
                            <div class="icons">
                                <img src="../../assets/aa.png" alt="service icons">
                            </div>
                            <div class="content">
                                <h4>24/7 Services</h4>
                                <p>Lorem ipsum dolor sit amet conse adipisic elit, sed do eiusmod temp incididunt ut</p>
                            </div>
                        </div>
                        </div>
                    </div>
                     <!-- End Single Service -->
    
                </div>
            </div>
        </div>
        <!-- End Service Style-->
        <!-- Start Agency Benefits Area -->


       
<div class=" d-flex justify-content-end  py-4 px-4">
        <div  class=" form-group has-search"> 
            <span class="fa fa-search form-control-feedback"></span>
        
    </div>
    </div>
        <div class="row">
                
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" >
                <div class="team team-8 mb-30">
                    <div class="thumb">
                        
                    </div>
                    <div class="team-info">
                        <div class="content">
                            
                            
                        </div>
                        <a class="readmore_btn btn-transparent" >READ MORE</a>
                        <div class="d-flex justify-content-start px-3 py-2">
                        <a href=""><i class="fa fa-calendar"></i></a>
                    </div>
                    </div>

                </div>
            </div>
            
                <!-- End Single Service -->

                
        <div class="container d-flex justify-content-center">


        </div>
            </div>

            
    </main>
